<script type="text/javascript">
    RED.nodes.registerType('wsstop',{
        category: 'socket',
        color: '#ffffff',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        //icon: ,
        label: function() {
            return this.name||"wsstop";
        }
    });
</script>

<script type="text/x-red" data-template-name="wsstop">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
</script>

<script type="text/x-red" data-help-name="wsstop">
    <p>web sockets close<br/>
    </p>
</script>
