<script type="text/javascript">
    RED.nodes.registerType('{{name}}',{
        category: '{{tags}}',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"{{hostport}}",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"{{name}} powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="{{name}}">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          {% for xid in xid  %}
          <li>{{ xid | safe }}</li>
          {% endfor %}
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="{{name}}">
    <p>{{description}}<br/> You have to give a value to the following parameters<br/> {{paramstogive}}
    </p>
</script>
