#!/usr/bin/env node

module.exports = function(RED) {



var querystring = require('querystring');
var fs= require('fs');
var path = require('path')
var request = require('request');
var WebSocketClient = require('websocket').client;



    function sockets(config) {

      var client = new WebSocketClient();


      RED.nodes.createNode(this,config);
        var node = this;
        var hz;
        var count = 0 ;
        var tempor;




        function isEmpty(obj) {
            for(var key in obj) {
                if(obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }


        var url;

        var ids;
        var xidforjs = {{xidforjs | safe}};





//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





    client.on('connectFailed', function(error) {
        console.log('Connect Error: ' + error.toString());
    });

    client.on('connect', function(connection) {
        console.log('WebSocket Client Connected');
        //node.send('WebSocket Client Connected');
        connection.on('error', function(error) {
            console.log("Connection Error: " + error.toString());
        });
        connection.on('close', function() {
            console.log('Connection Closed');
            //node.send('Connection Closed ');
        });
        connection.on('message', function(message) {
            if (message.type === 'utf8') {
                console.log("Received: '" + message.utf8Data + "'");
                //tempor = message.utf8Data;
                node.send(JSON.parse(message.utf8Data));
            }
        });
          /////////////
          // receiving messages
         node.on('input', function(parameters) {
           for (att in parameters){
             if (att == "hz"){
               hz = parameters;
               count = count + 1;
               if (connection.connected && count == 1) {
                 //console.log('WebSocket Client Connected');
                 //node.send('WebSocket Client Connected');
                 connection.send(JSON.stringify(hz));
               }
             }
             if (att == "close"){
               //node.send('Connection Closed ');
               //console.log('Connection Closed');
               connection.close();
             }
           }
         });
      ////////////
    });




    if (!config.url) {
      url = '{{wsurl | safe}}' + '{{urlpath | safe}}';
    }else{
      url = config.url + '{{urlpath | safe}}';
      if (url[0] !== 'w') {
        url = 'wss://'+url;
      }

    }


  if (!isEmpty(xidforjs)){
      ids = "_" + config.ids ;
      url = url.replace("_id", ids);
      console.log(url) ;
  }



    //client.connect('ws://localhost:8015/', 'echo-protocol');
    client.connect(url);
    //client.connect('ws://155.207.33.185:8090/robot_sensors_distance_left_measure_get');
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////








	this.status({fill:"red",shape:"ring",text:"disconnected"});
	this.status({fill:"green",shape:"dot",text:"connected"});

  }
    RED.nodes.registerType("{{name}}",sockets);
};
