{
  "name": "{{title | safe}}",
  "version": "{{version | safe}}",
  "description": "{{description | safe}}",
  "license": "MIT",
  "keywords": [
    "node-red"
  ],
  "node-red": {
    "nodes": {
      {{nodes | safe}}
    }
  }
}

