<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_pressure_id_get',{
        category: 'SensorsPressure',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_pressure_id_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_pressure_id_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Head_Touch_Rear">Head_Touch_Rear</option><br/></li>
          
          <li><option value="LHand_Touch_Back">LHand_Touch_Back</option><br/></li>
          
          <li><option value="LHand_Touch_Left">LHand_Touch_Left</option><br/></li>
          
          <li><option value="LHand_Touch_Right">LHand_Touch_Right</option><br/></li>
          
          <li><option value="RHand_Touch_Back">RHand_Touch_Back</option><br/></li>
          
          <li><option value="RHand_Touch_Left">RHand_Touch_Left</option><br/></li>
          
          <li><option value="RHand_Touch_Right">RHand_Touch_Right</option><br/></li>
          
          <li><option value="LFoot_Bumper_Left">LFoot_Bumper_Left</option><br/></li>
          
          <li><option value="LFoot_Bumper_Right">LFoot_Bumper_Right</option><br/></li>
          
          <li><option value="RFoot_Bumper_Left">RFoot_Bumper_Left</option><br/></li>
          
          <li><option value="RFoot_Bumper_Right">RFoot_Bumper_Right</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_pressure_id_get">
    <p>Returns information about the sensor.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_pressure_id_get',{
        category: 'SensorsPressure',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_pressure_id_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_pressure_id_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Head_Touch_Rear">Head_Touch_Rear</option><br/></li>
          
          <li><option value="LHand_Touch_Back">LHand_Touch_Back</option><br/></li>
          
          <li><option value="LHand_Touch_Left">LHand_Touch_Left</option><br/></li>
          
          <li><option value="LHand_Touch_Right">LHand_Touch_Right</option><br/></li>
          
          <li><option value="RHand_Touch_Back">RHand_Touch_Back</option><br/></li>
          
          <li><option value="RHand_Touch_Left">RHand_Touch_Left</option><br/></li>
          
          <li><option value="RHand_Touch_Right">RHand_Touch_Right</option><br/></li>
          
          <li><option value="LFoot_Bumper_Left">LFoot_Bumper_Left</option><br/></li>
          
          <li><option value="LFoot_Bumper_Right">LFoot_Bumper_Right</option><br/></li>
          
          <li><option value="RFoot_Bumper_Left">RFoot_Bumper_Left</option><br/></li>
          
          <li><option value="RFoot_Bumper_Right">RFoot_Bumper_Right</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_pressure_id_get">
    <p>Returns information about the sensor.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
