<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_electric_get',{
        category: 'SensorsElectric',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_electric_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_electric_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_electric_get">
    <p>Returns the electric robot sensors in a map containing their IDs and short descriptions. Electric sensors can include batteries, magnetometers, voltage detectors etc.<br/> You have to give a value to the following parameters<br/> 
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_electric_get',{
        category: 'SensorsElectric',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_electric_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_electric_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_electric_get">
    <p>Returns the electric robot sensors in a map containing their IDs and short descriptions. Electric sensors can include batteries, magnetometers, voltage detectors etc.<br/> You have to give a value to the following parameters<br/> 
    </p>
</script>
