<script type="text/javascript">
    RED.nodes.registerType('_robot_effectors_motion_postures_id_put',{
        category: 'EffectorsMotionPostures',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_effectors_motion_postures_id_put powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_effectors_motion_postures_id_put">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Crouch">Crouch</option><br/></li>
          
          <li><option value="LyingBack">LyingBack</option><br/></li>
          
          <li><option value="LyingBelly">LyingBelly</option><br/></li>
          
          <li><option value="Sit">Sit</option><br/></li>
          
          <li><option value="SitOnChair">SitOnChair</option><br/></li>
          
          <li><option value="SitRelax">SitRelax</option><br/></li>
          
          <li><option value="Stand">Stand</option><br/></li>
          
          <li><option value="StandInit">StandInit</option><br/></li>
          
          <li><option value="StandZero">StandZero</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_effectors_motion_postures_id_put">
    <p>Moves a robot in a specific posture. The available postures can be retrieved using the ```/robot/effectors/motion/postures``` call.<br/> You have to give a value to the following parameters<br/> id,speed
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('_robot_effectors_motion_postures_id_put',{
        category: 'EffectorsMotionPostures',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_effectors_motion_postures_id_put powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_effectors_motion_postures_id_put">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Crouch">Crouch</option><br/></li>
          
          <li><option value="LyingBack">LyingBack</option><br/></li>
          
          <li><option value="LyingBelly">LyingBelly</option><br/></li>
          
          <li><option value="Sit">Sit</option><br/></li>
          
          <li><option value="SitOnChair">SitOnChair</option><br/></li>
          
          <li><option value="SitRelax">SitRelax</option><br/></li>
          
          <li><option value="Stand">Stand</option><br/></li>
          
          <li><option value="StandInit">StandInit</option><br/></li>
          
          <li><option value="StandZero">StandZero</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_effectors_motion_postures_id_put">
    <p>Moves a robot in a specific posture. The available postures can be retrieved using the ```/robot/effectors/motion/postures``` call.<br/> You have to give a value to the following parameters<br/> id,speed
    </p>
</script>
