<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_position_id_measure_get',{
        category: 'SensorsPosition',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_position_id_measure_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_position_id_measure_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Localization">Localization</option><br/></li>
          
          <li><option value="HeadYaw">HeadYaw</option><br/></li>
          
          <li><option value="HeadPitch">HeadPitch</option><br/></li>
          
          <li><option value="LShoulderPitch">LShoulderPitch</option><br/></li>
          
          <li><option value="LShoulderRoll">LShoulderRoll</option><br/></li>
          
          <li><option value="LElbowYaw">LElbowYaw</option><br/></li>
          
          <li><option value="LElbowRoll">LElbowRoll</option><br/></li>
          
          <li><option value="LWristYaw">LWristYaw</option><br/></li>
          
          <li><option value="LHipYawPitch">LHipYawPitch</option><br/></li>
          
          <li><option value="LHipRoll">LHipRoll</option><br/></li>
          
          <li><option value="LHipPitch">LHipPitch</option><br/></li>
          
          <li><option value="LKneePitch">LKneePitch</option><br/></li>
          
          <li><option value="LAnklePitch">LAnklePitch</option><br/></li>
          
          <li><option value="LAnkleRoll">LAnkleRoll</option><br/></li>
          
          <li><option value="RHipYawPitch">RHipYawPitch</option><br/></li>
          
          <li><option value="RHipRoll">RHipRoll</option><br/></li>
          
          <li><option value="RHipPitch">RHipPitch</option><br/></li>
          
          <li><option value="RKneePitch">RKneePitch</option><br/></li>
          
          <li><option value="RAnklePitch">RAnklePitch</option><br/></li>
          
          <li><option value="RAnkleRoll">RAnkleRoll</option><br/></li>
          
          <li><option value="RShoulderPitch">RShoulderPitch</option><br/></li>
          
          <li><option value="RShoulderRoll">RShoulderRoll</option><br/></li>
          
          <li><option value="RElbowYaw">RElbowYaw</option><br/></li>
          
          <li><option value="RElbowRoll">RElbowRoll</option><br/></li>
          
          <li><option value="RWristYaw">RWristYaw</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_position_id_measure_get">
    <p>Performs measurement using a specific pose sensor. If the sensor is 1D ```x``` is filled. If the sensor is 2D ```x,y,yaw``` are filled. If the sensor is 3D, ```x,y,z,yaw,pitch,roll``` are filled.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('_robot_sensors_position_id_measure_get',{
        category: 'SensorsPosition',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_sensors_position_id_measure_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_sensors_position_id_measure_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Localization">Localization</option><br/></li>
          
          <li><option value="HeadYaw">HeadYaw</option><br/></li>
          
          <li><option value="HeadPitch">HeadPitch</option><br/></li>
          
          <li><option value="LShoulderPitch">LShoulderPitch</option><br/></li>
          
          <li><option value="LShoulderRoll">LShoulderRoll</option><br/></li>
          
          <li><option value="LElbowYaw">LElbowYaw</option><br/></li>
          
          <li><option value="LElbowRoll">LElbowRoll</option><br/></li>
          
          <li><option value="LWristYaw">LWristYaw</option><br/></li>
          
          <li><option value="LHipYawPitch">LHipYawPitch</option><br/></li>
          
          <li><option value="LHipRoll">LHipRoll</option><br/></li>
          
          <li><option value="LHipPitch">LHipPitch</option><br/></li>
          
          <li><option value="LKneePitch">LKneePitch</option><br/></li>
          
          <li><option value="LAnklePitch">LAnklePitch</option><br/></li>
          
          <li><option value="LAnkleRoll">LAnkleRoll</option><br/></li>
          
          <li><option value="RHipYawPitch">RHipYawPitch</option><br/></li>
          
          <li><option value="RHipRoll">RHipRoll</option><br/></li>
          
          <li><option value="RHipPitch">RHipPitch</option><br/></li>
          
          <li><option value="RKneePitch">RKneePitch</option><br/></li>
          
          <li><option value="RAnklePitch">RAnklePitch</option><br/></li>
          
          <li><option value="RAnkleRoll">RAnkleRoll</option><br/></li>
          
          <li><option value="RShoulderPitch">RShoulderPitch</option><br/></li>
          
          <li><option value="RShoulderRoll">RShoulderRoll</option><br/></li>
          
          <li><option value="RElbowYaw">RElbowYaw</option><br/></li>
          
          <li><option value="RElbowRoll">RElbowRoll</option><br/></li>
          
          <li><option value="RWristYaw">RWristYaw</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_sensors_position_id_measure_get">
    <p>Performs measurement using a specific pose sensor. If the sensor is 1D ```x``` is filled. If the sensor is 2D ```x,y,yaw``` are filled. If the sensor is 3D, ```x,y,z,yaw,pitch,roll``` are filled.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
