<script type="text/javascript">
    RED.nodes.registerType('_robot_effectors_optical_id_get',{
        category: 'EffectorsOptical',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_effectors_optical_id_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_effectors_optical_id_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Brain0">Brain0</option><br/></li>
          
          <li><option value="Brain1">Brain1</option><br/></li>
          
          <li><option value="Brain10">Brain10</option><br/></li>
          
          <li><option value="Brain11">Brain11</option><br/></li>
          
          <li><option value="Brain2">Brain2</option><br/></li>
          
          <li><option value="Brain3">Brain3</option><br/></li>
          
          <li><option value="Brain4">Brain4</option><br/></li>
          
          <li><option value="Brain5">Brain5</option><br/></li>
          
          <li><option value="Brain6">Brain6</option><br/></li>
          
          <li><option value="Brain7">Brain7</option><br/></li>
          
          <li><option value="Brain8">Brain8</option><br/></li>
          
          <li><option value="Brain9">Brain9</option><br/></li>
          
          <li><option value="ChestLedsBlue">ChestLedsBlue</option><br/></li>
          
          <li><option value="ChestLedsGreen">ChestLedsGreen</option><br/></li>
          
          <li><option value="ChestLedsRed">ChestLedsRed</option><br/></li>
          
          <li><option value="LeftEarLed1">LeftEarLed1</option><br/></li>
          
          <li><option value="LeftEarLed10">LeftEarLed10</option><br/></li>
          
          <li><option value="LeftEarLed2">LeftEarLed2</option><br/></li>
          
          <li><option value="LeftEarLed3">LeftEarLed3</option><br/></li>
          
          <li><option value="LeftEarLed4">LeftEarLed4</option><br/></li>
          
          <li><option value="LeftEarLed5">LeftEarLed5</option><br/></li>
          
          <li><option value="LeftEarLed6">LeftEarLed6</option><br/></li>
          
          <li><option value="LeftEarLed7">LeftEarLed7</option><br/></li>
          
          <li><option value="LeftEarLed8">LeftEarLed8</option><br/></li>
          
          <li><option value="LeftEarLed9">LeftEarLed9</option><br/></li>
          
          <li><option value="LeftFaceLed1">LeftFaceLed1</option><br/></li>
          
          <li><option value="LeftFaceLed2">LeftFaceLed2</option><br/></li>
          
          <li><option value="LeftFaceLed3">LeftFaceLed3</option><br/></li>
          
          <li><option value="LeftFaceLed4">LeftFaceLed4</option><br/></li>
          
          <li><option value="LeftFaceLed5">LeftFaceLed5</option><br/></li>
          
          <li><option value="LeftFaceLed6">LeftFaceLed6</option><br/></li>
          
          <li><option value="LeftFaceLed7">LeftFaceLed7</option><br/></li>
          
          <li><option value="LeftFaceLed8">LeftFaceLed8</option><br/></li>
          
          <li><option value="LeftFootLedsBlue">LeftFootLedsBlue</option><br/></li>
          
          <li><option value="LeftFootLedsGreen">LeftFootLedsGreen</option><br/></li>
          
          <li><option value="LeftFootLedsRed">LeftFootLedsRed</option><br/></li>
          
          <li><option value="RightEarLed1">RightEarLed1</option><br/></li>
          
          <li><option value="RightEarLed10">RightEarLed10</option><br/></li>
          
          <li><option value="RightEarLed2">RightEarLed2</option><br/></li>
          
          <li><option value="RightEarLed3">RightEarLed3</option><br/></li>
          
          <li><option value="RightEarLed4">RightEarLed4</option><br/></li>
          
          <li><option value="RightEarLed5">RightEarLed5</option><br/></li>
          
          <li><option value="RightEarLed6">RightEarLed6</option><br/></li>
          
          <li><option value="RightEarLed7">RightEarLed7</option><br/></li>
          
          <li><option value="RightEarLed8">RightEarLed8</option><br/></li>
          
          <li><option value="RightEarLed9">RightEarLed9</option><br/></li>
          
          <li><option value="RightFaceLed1">RightFaceLed1</option><br/></li>
          
          <li><option value="RightFaceLed2">RightFaceLed2</option><br/></li>
          
          <li><option value="RightFaceLed3">RightFaceLed3</option><br/></li>
          
          <li><option value="RightFaceLed4">RightFaceLed4</option><br/></li>
          
          <li><option value="RightFaceLed5">RightFaceLed5</option><br/></li>
          
          <li><option value="RightFaceLed6">RightFaceLed6</option><br/></li>
          
          <li><option value="RightFaceLed7">RightFaceLed7</option><br/></li>
          
          <li><option value="RightFaceLed8">RightFaceLed8</option><br/></li>
          
          <li><option value="RightFootLedsBlue">RightFootLedsBlue</option><br/></li>
          
          <li><option value="RightFootLedsGreen">RightFootLedsGreen</option><br/></li>
          
          <li><option value="RightFootLedsRed">RightFootLedsRed</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_effectors_optical_id_get">
    <p>Returns information about an optical effectors, given its ID.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('_robot_effectors_optical_id_get',{
        category: 'EffectorsOptical',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"http://155.207.33.185:8080",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: "R4A.png",
        label: function() {
            return this.name||"_robot_effectors_optical_id_get powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="_robot_effectors_optical_id_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="http:// or https://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
          <li><option value="Brain0">Brain0</option><br/></li>
          
          <li><option value="Brain1">Brain1</option><br/></li>
          
          <li><option value="Brain10">Brain10</option><br/></li>
          
          <li><option value="Brain11">Brain11</option><br/></li>
          
          <li><option value="Brain2">Brain2</option><br/></li>
          
          <li><option value="Brain3">Brain3</option><br/></li>
          
          <li><option value="Brain4">Brain4</option><br/></li>
          
          <li><option value="Brain5">Brain5</option><br/></li>
          
          <li><option value="Brain6">Brain6</option><br/></li>
          
          <li><option value="Brain7">Brain7</option><br/></li>
          
          <li><option value="Brain8">Brain8</option><br/></li>
          
          <li><option value="Brain9">Brain9</option><br/></li>
          
          <li><option value="ChestLedsBlue">ChestLedsBlue</option><br/></li>
          
          <li><option value="ChestLedsGreen">ChestLedsGreen</option><br/></li>
          
          <li><option value="ChestLedsRed">ChestLedsRed</option><br/></li>
          
          <li><option value="LeftEarLed1">LeftEarLed1</option><br/></li>
          
          <li><option value="LeftEarLed10">LeftEarLed10</option><br/></li>
          
          <li><option value="LeftEarLed2">LeftEarLed2</option><br/></li>
          
          <li><option value="LeftEarLed3">LeftEarLed3</option><br/></li>
          
          <li><option value="LeftEarLed4">LeftEarLed4</option><br/></li>
          
          <li><option value="LeftEarLed5">LeftEarLed5</option><br/></li>
          
          <li><option value="LeftEarLed6">LeftEarLed6</option><br/></li>
          
          <li><option value="LeftEarLed7">LeftEarLed7</option><br/></li>
          
          <li><option value="LeftEarLed8">LeftEarLed8</option><br/></li>
          
          <li><option value="LeftEarLed9">LeftEarLed9</option><br/></li>
          
          <li><option value="LeftFaceLed1">LeftFaceLed1</option><br/></li>
          
          <li><option value="LeftFaceLed2">LeftFaceLed2</option><br/></li>
          
          <li><option value="LeftFaceLed3">LeftFaceLed3</option><br/></li>
          
          <li><option value="LeftFaceLed4">LeftFaceLed4</option><br/></li>
          
          <li><option value="LeftFaceLed5">LeftFaceLed5</option><br/></li>
          
          <li><option value="LeftFaceLed6">LeftFaceLed6</option><br/></li>
          
          <li><option value="LeftFaceLed7">LeftFaceLed7</option><br/></li>
          
          <li><option value="LeftFaceLed8">LeftFaceLed8</option><br/></li>
          
          <li><option value="LeftFootLedsBlue">LeftFootLedsBlue</option><br/></li>
          
          <li><option value="LeftFootLedsGreen">LeftFootLedsGreen</option><br/></li>
          
          <li><option value="LeftFootLedsRed">LeftFootLedsRed</option><br/></li>
          
          <li><option value="RightEarLed1">RightEarLed1</option><br/></li>
          
          <li><option value="RightEarLed10">RightEarLed10</option><br/></li>
          
          <li><option value="RightEarLed2">RightEarLed2</option><br/></li>
          
          <li><option value="RightEarLed3">RightEarLed3</option><br/></li>
          
          <li><option value="RightEarLed4">RightEarLed4</option><br/></li>
          
          <li><option value="RightEarLed5">RightEarLed5</option><br/></li>
          
          <li><option value="RightEarLed6">RightEarLed6</option><br/></li>
          
          <li><option value="RightEarLed7">RightEarLed7</option><br/></li>
          
          <li><option value="RightEarLed8">RightEarLed8</option><br/></li>
          
          <li><option value="RightEarLed9">RightEarLed9</option><br/></li>
          
          <li><option value="RightFaceLed1">RightFaceLed1</option><br/></li>
          
          <li><option value="RightFaceLed2">RightFaceLed2</option><br/></li>
          
          <li><option value="RightFaceLed3">RightFaceLed3</option><br/></li>
          
          <li><option value="RightFaceLed4">RightFaceLed4</option><br/></li>
          
          <li><option value="RightFaceLed5">RightFaceLed5</option><br/></li>
          
          <li><option value="RightFaceLed6">RightFaceLed6</option><br/></li>
          
          <li><option value="RightFaceLed7">RightFaceLed7</option><br/></li>
          
          <li><option value="RightFaceLed8">RightFaceLed8</option><br/></li>
          
          <li><option value="RightFootLedsBlue">RightFootLedsBlue</option><br/></li>
          
          <li><option value="RightFootLedsGreen">RightFootLedsGreen</option><br/></li>
          
          <li><option value="RightFootLedsRed">RightFootLedsRed</option><br/></li>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="_robot_effectors_optical_id_get">
    <p>Returns information about an optical effectors, given its ID.<br/> You have to give a value to the following parameters<br/> id
    </p>
</script>
