<script type="text/javascript">
    RED.nodes.registerType('ws_robot_sensors_speed_measure_get',{
        category: 'sockets',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"ws://155.207.33.185:8090",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: ,
        label: function() {
            return this.name||" ws_robot_sensors_speed_measure_get";
        }
    });
</script>

<script type="text/x-red" data-template-name="ws_robot_sensors_speed_measure_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="ws:// or wss://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="ws_robot_sensors_speed_measure_get">
    <p>web sockets     Returns the robot chassis speeds.<br/>
    </p>
</script>
<script type="text/javascript">
    RED.nodes.registerType('ws_robot_sensors_speed_measure_get',{
        category: 'sockets',
        color: '#ffffff',
        defaults: {
            name: {value:""},
            url: {value:"ws://155.207.33.185:8090",required:false},
            ids:{value:"",required:false}
        },
        inputs:1,
        outputs:1,
        //icon: ,
        label: function() {
            return this.name||" ws_robot_sensors_speed_measure_get";
        }
    });
</script>

<script type="text/x-red" data-template-name="ws_robot_sensors_speed_measure_get">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <div class="form-row">
       <label for="node-input-url"><i class="fa fa-globe"></i> URL</label>
       <input id="node-input-url" type="text" placeholder="ws:// or wss://">
   </div>
   <div class="form-row">
       <label for="node-input-ids"><i class="fa fa-tasks"></i> ids</span></label>
       <select type="text" id="node-input-ids" style="width:70%;">
       <option value="">empty</option>
       <ul>
          
       </ul>
       </select>
   </div>
</script>

<script type="text/x-red" data-help-name="ws_robot_sensors_speed_measure_get">
    <p>web sockets     Returns the robot chassis speeds.<br/>
    </p>
</script>
