<script type="text/javascript">
    RED.nodes.registerType('node01',{
        category: 'R4A',
        color: '#ffffff',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "picture.png",
        label: function() {
            return this.name||"pilot";
        }
    });
</script>

<script type="text/x-red" data-template-name="node01">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
</script>

<script type="text/x-red" data-help-name="node01">
    <p>A node that sends pilot in return.<br/>
    </p>
</script>
