<script type="text/javascript">
    RED.nodes.registerType('R4A',{
        category: 'R4A',
        color: '#ffffff',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "R4A.png",
        label: function() {
            return this.name||"R4A powered by AUTh";
        }
    });
</script>

<script type="text/x-red" data-template-name="R4A">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-topic"><i class="icon-tag"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
</script>

<script type="text/x-red" data-help-name="R4A">
    <p>A node that increments every time a new message is received and sends R4A in return.<br/>
    </p>
</script>
